
/* adding some styling to my pages */
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
    
}
a {
    text-align: center;
    font-size:24px;
    font-weight:bold;
    display:block;
}

h1{
    font-size: 72px;
    color:white;
    background-color:rgb(255 0 0);
    text-align: center;
    font-weight:bolder;

}

h2{
    text-align: center;
    font-size:48px;
    text-decoration: underline;
    color:purple;
    
}

img {
    width: auto;
    height: auto;
    align-items: center;
    display:flex;
    margin-left:300px;
    margin-top:20px;
    }

p, li {
    font-size:32px;
    text-wrap:inherit;
    
    color:black;
    margin:20px;
}


